/* Imported Fonts */

/* @font-face {
    font-family: "headerFont";
    src: url("../fonts/Peddana-Regular.ttf") format("truetype");
  } */

/* navbar styling */

body {
  background-color: black;
  color: #ddd;
}

h3 {
  margin-bottom: 50px;
}

h4 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 50px;
}

.navbar ul {
  list-style: none;
  border: 1.5px solid black;
  border-radius: 72px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: gray;
}

.navbar a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  border-radius: 48px;
}

.navbar li {
  float: left;
  box-sizing: border-box;
  margin: 20px;
}

/* Creates highlight hover effect for navbar */

.navbar a:hover {
  background-color: #ddd;
}

.page-title {
  text-align: center;
  font-size: 80px;
  font-family: "headerFont";
  margin-top: 50px;
}

/* Contact Page */

#contact-list {
  list-style: none;
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
}

#contact-list li {
  margin-bottom: 50px;
  font-size: 24px;
}

#contact-list a {
  text-decoration: none;
  color: #ddd;
}

/* footer */

footer {
  text-align: center;
  background-color: gray;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
}

footer ul {
  list-style: none;
  background-color: gray;
  padding: 0%;
}

footer a {
  display: inline-block;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-align: left;
  border-radius: 48px;
}

footer li {
  display: inline-block;
}

footer a:hover {
  background-color: #ddd;
}

/* images styling */

.wrapped-image-right {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  width: 50%;
  height: 50%;
  float: right;
  border: 1px solid black;
  border-radius: 8px;
}

.wrapped-image-left {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  width: 50%;
  height: 50%;
  max-width: 700px;
  float: left;
  border: 1px solid black;
  border-radius: 8px;
}

.wrapped-home-image {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 50%;
  height: 50%;
  float: right;
  border: 1px solid black;
  border-radius: 8px;
}
